* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  font-size: 1.4rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.links {
  display: inline-block;
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 75%;
  max-height: 75%;
}
